#bar{
    margin-bottom: 5px;
    color: burlywood;
    background-color: cornflowerblue;
    text-align: right;
    
}
h2{
    font-size: 18px;
    color: rgb(241, 225, 228);
    height: 50px;
    background-color: rgb(51, 56, 56);




}





#nn{  
     margin-top: 60px;
     margin-left: 1px;
      font-family: serif;
      font-size: 25px;
      text-align:right;
      height: 800px;
      width: 1340px;
      background-image: url(https://3.bp.blogspot.com/-RxKHOkSPPvU/Wi6lk8-iLAI/AAAAAAAAHxc/HBEgvNZgC0sVI6hvoXT2JVxCCO54fj5hwCLcBGAs/s1600/powerpoint-background-%2B%25282%2529.jpg) ;height: 1000px; 
      padding-top: 0px;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: bottom;


      background-position:center;
    }
    *{
        color: rgb(248, 245, 245);
    }
    

    

    li{
        margin-right: 50px;
        color: rgb(7, 7, 7);
        padding-right: 30px;
        display: inline-block;
        text-decoration:none;      



    }
    ul{
        margin-bottom: 200px;
        width: 100%;
        color: aliceblue;
        border-top: 100px;
        padding-top: 30px;
    }
    a{
        

    }
    a:hover{ 
        text-decoration:none;
        background-color: brown;
        
        
            
    }




  #foter{
      background-color: rgb(101, 104, 109);

    color: rgb(239, 238, 245);
    font-size: 15px;
    font-style: oblique;
    padding-top: 20px;   
 border: solid rgb(65, 64, 66) 5px;
 margin: 10px;
 padding-left: 500px;

}











